.weapons-table {
  width: 100vw;
  height: 40vh;
  text-align: center;
  table-layout: fixed;
}
.weapons-table thead th:first-child {
  background: linear-gradient(
    to top right,
    rgb(0 0 0 / 0) 49%,
    #aaa 49.5%,
    #aaa 50.5%,
    rgb(0 0 0 / 0) 51%
  );
}
.weapons-table thead th:first-child div:first-child {
  text-align: end;
  padding-inline-end: 0.5rem;
}
.weapons-table thead th:first-child div:last-child {
  text-align: start;
  padding-inline-end: 0.5rem;
}

.weapons-table th {
  border: 1px solid currentColor;
}
.weapons-table th .control {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.weapons-table th .control button {
  padding: 0.5rem;
}
.weapons-table th .control p {
  padding-block: 0.5rem;
}

.weapons-table td button {
  width: 90%;
}
.weapons-table .lose,
.weapons-table .win {
  color: var(--colors-blackAlpha-900);
}
.weapons-table .lose {
  background-color: var(--colors-red-300);
}
.weapons-table .win {
  background-color: var(--colors-green-300);
}

.weapons-table .new-weapon form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.weapons-table .new-weapon label {
  text-align: start;
}
.weapons-table .new-weapon form > *:not(:last-child) {
  margin-block-end: 1rem;
}
